/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: var(--color-golden);
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: center;
  color: var(--color-white);
  font-family: var(--font-text);
  font-size: 0.9rem;
  z-index: 1;
}

/* Navbar links */
#navbar a {
  display: block;
  color: var(--color-white);
  text-align: center;
  padding: 0.5rem;
  text-decoration: none;
  transition: all 0.4s;
}
#navbar a:hover {
  cursor: pointer;
  background: var(--color-black);
}
